<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Ekka - Admin Dashboard HTML Template.">

	<title>Ekka - Admin Dashboard HTML Template.</title>

	<!-- GOOGLE FONTS -->
	<script src="https://kit.fontawesome.com/bf625ee5bc.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">

	<link href="../../../../cdn.jsdelivr.net/npm/%40mdi/font%404.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

	<!-- PLUGINS CSS STYLE -->
	<link href="/admin/plugins/simplebar/simplebar.css" rel="stylesheet" />

	<!-- Data-Tables -->
	<link href='/admin/plugins/data-tables/datatables.bootstrap5.min.css' rel='stylesheet'>
	<link href='/admin/plugins/data-tables/responsive.datatables.min.css' rel='stylesheet'>

	<!-- Ekka CSS -->
	<link id="ekka-css" rel="stylesheet" href="/admin/css/ekka.css" />

	<!-- FAVICON -->
	<link href="/admin/img/favicon.png" rel="shortcut icon" />
</head>

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- LEFT MAIN SIDEBAR -->
        <%- include('./partials/Aleftsidebar.ejs') %>
		

		<!-- PAGE WRAPPER -->
		<div class="ec-page-wrapper">

			<!-- Header -->
            <%- include('./partials/header.ejs') %>

			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper breadcrumb-wrapper-2">
						<h1>dailyreport</h1>
						<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
							<span><i class="mdi mdi-chevron-right"></i></span>Report
						</p>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<table id="responsive-data-table" class="table" style="width:100%">
											<thead>
												<tr>
													<th>Date</th>
													<th>Total Order</th>
													<th>Total Product</th>
													<th>Total</th>
													<th>Profit</th>
													<!-- <th>Download</th> -->
													<!-- <th>Status</th>
													<th>Date</th>
													<th>Action</th> -->
												</tr>
											</thead>

											<tbody>
												<tr>
													<% for( let i = 0; i < yearlyReport.length; i++ ) { %>
													<td><%= yearlyReport[i]._id.year%></td>
													<td><%= yearlyReport[i].count %></td>
													<td><%= yearlyReport[i].product %></td>
													<td>$<%= yearlyReport[i].totalprice%></td>
													<td>$<%= yearlyReport[i].totalprice*15/100 %></td>
													<!-- <td>PAID</td> -->
													<!-- <td><span class="mb-2 mr-2 badge badge-secondary">Cancel</span></td>
													<td>2021-10-30</td>
													<td>
														<div class="btn-group mb-1">
															<button type="button"
																class="btn btn-outline-success">Info</button>
															<button type="button"
																class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
																data-bs-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false" data-display="static">
																<span class="sr-only">Info</span>
															</button>

															<div class="dropdown-menu">
																<a class="dropdown-item" href="#">Detail</a>
																<a class="dropdown-item" href="#">Track</a>
																<a class="dropdown-item" href="#">Cancel</a>
															</div>
														</div>
													</td> -->
												</tr>
												<% } %>
												<!-- <tr>
													<td>1047</td>
													<td>Bhavesh Markue</td>
													<td>Bhavesh@example.com</td>
													<td>8</td>
													<td>$140</td>
													<td>PAID</td>
													<td><span class="mb-2 mr-2 badge badge-success">Delivered</span>
													</td>
													<td>2021-10-30</td>
													<td>
														<div class="btn-group mb-1">
															<button type="button"
																class="btn btn-outline-success">Info</button>
															<button type="button"
																class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
																data-bs-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false" data-display="static">
																<span class="sr-only">Info</span>
															</button>

															<div class="dropdown-menu">
																<a class="dropdown-item" href="#">Detail</a>
																<a class="dropdown-item" href="#">Track</a>
																<a class="dropdown-item" href="#">Cancel</a>
															</div>
														</div>
													</td>
												</tr> -->

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->


			<!-- Footer -->
			<footer class="footer mt-auto">
				<div class="copyright bg-white">
					<p>
						Copyright &copy; <span id="ec-year"></span><a class="text-primary"
							href="https://themeforest.net/user/ashishmaraviya" target="_blank"> Ekka Admin
							Dashboard</a>. All Rights Reserved.
					</p>
				</div>
			</footer>

		</div> <!-- End Page Wrapper -->
	</div> <!-- End Wrapper -->


	<!-- Common Javascript -->
	<script src="/admin/plugins/jquery/jquery-3.5.1.min.js"></script>
	<script src="/admin/js/bootstrap.bundle.min.js"></script>
	<script src="/admin/plugins/simplebar/simplebar.min.js"></script>
	<script src="/admin/plugins/jquery-zoom/jquery.zoom.min.js"></script>
	<script src="/admin/plugins/slick/slick.min.js"></script>

	<!-- Data-Tables -->
	<script src='/admin/plugins/data-tables/jquery.datatables.min.js'></script>
	<script src='/admin/plugins/data-tables/datatables.bootstrap5.min.js'></script>
	<script src='/admin/plugins/data-tables/datatables.responsive.min.js'></script>

	<!-- Option Switcher -->
	<script src="/admin/plugins/options-sidebar/optionswitcher.js"></script>

	<!-- Ekka Custom -->
	<script src="/admin/js/ekka.js"></script>
</body>



</html>